# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
